
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "~bulma/sass/utilities/initial-variables";

// $red: #e91c24;
$orange: #e87b1b;
$burgandy: #99195e;
$primary: $burgandy;

// Bootstrap
@import "~bulma";
